*, h1, h2{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.standard {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  line-height: 2rem;
}

#title {
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 6rem;
  color: white;
  opacity: .6;
}
#names {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2.2px;
  margin-top: 4rem;
}

p#craigintank {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  font-weight: 400;
}

img#sharkgif{
  opacity: .8;
  z-index: -100;
  padding: 1.5rem;
}

img#craigcontemplates{
  opacity: .8;
  position: relative;
  float: right;
}


#wallsign {
  height: 70%;
  width: 60%;
  float: left;
  opacity: .8;
  z-index: 0;
  position: relative;
}


section {
  margin-top: 5rem;
}

div#five {
  margin-top: 0rem !important;
}

/*GROW SHARK*/
.grow img {
  height: 300px;
  width: 300px;
 
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
 
.grow img:hover {
  width: 400px;
  height: 400px;
  -ms-transform: rotate(-80deg); /* IE 9 */
  -webkit-transform: rotate(-80deg); /* Chrome, Safari, Opera */
  transform: rotate(-80deg);
}

#videoFour {
  margin-top: 5rem;
}

p.fourthParagraph {
  margin-top: -20rem;
  letter-spacing: .5;
}

p.number-TWO {
  bottom:10;
  color: white;
  text-shadow: #000000 0 0 35px, #000000 5px 5px 19px;  
}

video#bgvid { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(tank.jpg) no-repeat;
  background-size: cover; 
}

.fcliff {
  font-family: "Roboto", sans-serif;
}

#fuck {
  font-size: 10rem;
  padding-top: 2rem;
  color: #FCAB10;
  text-shadow: #000000 0 0 35px, #000000 5px 5px 19px;
}

.blink_me {
  font-family: 'Roboto', sans-serif;
  animation: blinker .1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}

#afterfuck {
  font-size: 1.2rem;
  color: #ffffff;
  text-shadow: #000000 0 0 35px, #000000 5px 5px 19px;
}

video.secondbgvid { 
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(tank.jpg) no-repeat;
  background-size: cover; 
  top: 50%;
  left: 50%;
  position: absolute;
}

div#eight {
  margin: 0;
  padding: 0;
  overflow:hidden;
  background: #051d1a;
}

canvas {
  margin:0 auto;
  float: right;
  height: 100%;
  width: 100%;
  margin-top: -12rem;
  background: #051d1a;
  position: absolute;
}

.paragraph-eight {
  position: absolute;
  width: 80%;
  color: #FAEBD7;
  margin-top: 8rem;
  margin-left: 4rem;
}

.jellygif{
  margin-left: 2rem;
  margin-top: -2rem;
}

.calmcraig {
  position: absolute;
}

.chillSpan {
  display: inline;
  position: relative;
  font: 3rem Helvetica, Sans-Serif;
  letter-spacing: -5px;
  color: rgba(0,0,255,0.5); 
}

div#seven {
  background: url(http://s3.amazonaws.com/plunge/hammerhead.gif);
  background-color: #cccccc;
}

p.paragraph-seven {
  text-shadow: 0px 2px #000000;
  width: 80%;
  float: right;
}

div#nine {
  padding-bottom: 10%;
  background: url(http://s3.amazonaws.com/plunge/iphoneduo.png);
}

p.nine-paragraph {
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: horizontal-offset vertical-offset blur color;
  color: white;
  font-weight: 300;
  margin-left: 4rem;
}

#owl-example {
  position: fixed;
  opacity: 1;
  display: block;
  margin-left: 20rem;
}

p.ten-paragraph {
  text-transform: uppercase;;
  letter-spacing: 1.2px;
  font-size: .9rem;
}

.jelly_two {
  opacity: .75;
  height: 10rem;
}