*, h1, h2{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.standard {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

#title {
  font-size: 9rem;
  opacity: .8;
}

#names {
  font-weight: 200;
}

div.intro {
  position: absolute;
  display: block;
  opacity: 1;
  z-index: 100;
  width: 37rem;
}

p#craigintank {
  font-size: 2rem;
}

img#sharkgif{
  opacity: .8;
  z-index: -100;
  padding-top: 6.5rem;
}

img#craigcontemplates{
  opacity: .8;
  position: relative;
  float: right;
}


#wallsign {
  height: 70%;
  width: 60%;
  float: left;
  opacity: .8;
  z-index: 0;
  position: relative;
}


section {
  margin-top: 5rem;
}

div#five {
  margin-top: 0rem !important;
}

/*GROW SHARK*/
.grow img {
  height: 300px;
  width: 300px;
 
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
 
.grow img:hover {
  width: 400px;
  height: 400px;
  -ms-transform: rotate(-80deg); /* IE 9 */
  -webkit-transform: rotate(-80deg); /* Chrome, Safari, Opera */
  transform: rotate(-80deg);
}

#videoFour {
  margin-top: 5rem;
}

p.fourthParagraph {
  margin-top: -20rem;
  letter-spacing: .5;
}

p.number-TWO {
  bottom:10;
  color: white;
  text-shadow: #000000 0 0 35px, #000000 5px 5px 19px;  
}

video#bgvid { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(tank.jpg) no-repeat;
  background-size: cover; 
}

.fcliff {
  font-family: "Roboto", sans-serif;
}

#fuck {
  font-size: 10rem;
  padding-top: 2rem;
  color: #FCAB10;
  text-shadow: #000000 0 0 35px, #000000 5px 5px 19px;
}

.blink_me {
  animation: blinker .1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}

#afterfuck {
  font-size: 2rem;
  color: #ffffff;
  text-shadow: #000000 0 0 35px, #000000 5px 5px 19px;
  margin-top: -3rem;
  padding-top: 0;
}

video.secondbgvid { 
  min-width: 100%;
  padding-bottom: 2rem;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(tank.jpg) no-repeat;
  background-size: cover; 
  top: 50%;
  left: 50%;
  position: absolute;
}


.calmcraig {
  position: absolute;
}

.chillSpan {
  display: inline;
  position: relative;
  font: 3rem Helvetica, Sans-Serif;
  letter-spacing: -5px;
  color: rgba(0,0,255,0.5); 
}

div#seven {
  background: url(http://s3.amazonaws.com/plunge/hammerhead.gif);
  background-color: #cccccc;

}

div#nine {
  background: url(http://s3.amazonaws.com/plunge/iphoneduo.png);
}

p.nine-paragraph {
  font-size: 2rem;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  padding-left: 5rem;
  padding-right: 5rem;
  color: white;
  font-weight: 300;
  margin-left: 4rem;
  margin-right: 4rem;
}

#owl-example {
  position: fixed;
  opacity: 1;
  display: block;
  margin-left: 20rem;
}

