<!doctype html>
<html>
	<head>

<!-- 		to ella, love clare x
 -->
		<meta charset="utf-8" />
		<meta name="description" content="An interactive story written by Ella Mahony, created by Clare Trembath" />
	    <meta http-equiv="Content-Language" content="en">
		<meta name="google-site-verification" content="avT-FqVSH_bhsAgg3wEykfdD5avhOvJvhCajDMpdfqE" />
		<title>itching to plunge</title>

		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="stylesheets/foundation.min.css" />
		<link rel="stylesheet" href="stylesheets/style.css" />
		<link rel="stylesheet" href="stylesheets/mediaqueries.css" />

		<link rel="stylesheet" href="stylesheets/snow.css" />
		<link rel="stylesheet" href="stylesheets/jquery.fullPage.css" />
		<link rel="stylesheet" href="stylesheets/owl.carousel.css" />
		<link rel='shortcut icon' href='../assets/images/mini.ico' type='image/x-icon'/ >
	</head>

	<body>

		<%= yield %>

		<script src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
		<script src="javascripts/queryloader2.min.js" type="text/javascript"></script>
		<script src="javascripts/foundation.js"></script>
		<script src="javascripts/jquery.fullPage.js"></script>
		<script src="javascripts/script.js"></script>
		<script src="javascripts/pollock.js"></script>
		<script src="javascripts/owl.carousel.min.js"></script>

		<script>
	  $(document).ready(function() {
        $("body").queryLoader2();
	      $('#fullpage').fullpage();
        $("#owl-example").owlCarousel();

	    });
	    $(document).foundation();

		</script>

	</body>

</html>